* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a default font family and background color for the dark theme */
body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Dark background color */
    color: #fff; /* Light text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth theme transition */
}

#container {
    width: 76%;
    margin: 22px auto 0;
    display: flex;
    background-color: #111; /* Darker background for container */
}


/* Style the left menu for the dark theme */
#menu {
    width: 18%;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px; /* Rounded corners for the container */
    overflow: hidden; /* Clip content within rounded corners */
    overflow-y: auto;
}

#menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: background-color 0.3s; /* Smooth transition for menu links */
}

#menu a:hover {
    background-color: #555; /* Darken menu links on hover */
}

#separator{
    width: 1%;
    background-color: #111;
    transition: background-color 0.3s, color 0.3s; /* Smooth theme transition */
}

/* Create a flexible content area for the dark theme */
#content {
    flex: 1; /* Expand to fill remaining space */
    padding: 20px;
    color: #fff; /* Light text color */
    background-color: #222; /* Darker background for content */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    overflow: hidden;
}

.image.left {
    float: left; /* Float the image to the left */
    margin-right: 8px; /* Add some margin to separate the image from the text */
}

.image.right {
    float: right; /* Float the image to the left */
    margin-right: 8px; /* Add some margin to separate the image from the text */
}

/* Clear the float to ensure the following content doesn't wrap around the floated image */
p::after {
    content: "";
    display: table;
    clear: both;
}

/* Light Theme - Applied when the "light" class is toggled */
.light {
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Dark text color */
}

.light #separator{
    background-color: #f4f4f4;
}

.light #container {
    background-color: #f4f4f4; /* Container background color in light theme */
}

.light #menu {
    background-color: #333; /* Menu background color in light theme */
    color: #fff; /* Menu text color in light theme */
}

.light #menu a {
    color: #fff; /* Menu link text color in light theme */
}

.light #menu a:hover {
    background-color: #555; /* Darken menu links in light theme */
}

.light #content {
    color: #333; /* Text color in light theme */
    background-color: #fff; /* Content background color in light theme */
}
